*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
    background: url('/assets/imagenes/dentist2.jpg') no-repeat;
    background-size:cover;
    background-position: center;

}
