<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental Crown</title>
  <link rel="stylesheet" href="home.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <app-header></app-header>
</body>
<!--Páginas-->
<app-imagenprincipal></app-imagenprincipal>
<app-servicios></app-servicios>
<app-ubicacion></app-ubicacion>
<app-footer></app-footer>

</html>
